.checklist-wrapper {

}

.checklist-item {
    text-align: left;
}

.is-completed {
    text-decoration: line-through;
}

.members-wrapper {
    display: flex;
    flex-direction: row;
    gap: 0.3em;
    margin-top: 0.3em;
    margin-bottom: 0.3em;
}

.member-avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid rgba(255, 255, 255, 0.3);
}